<div class="container">
  <div class="wrapper">
    <mat-card>
      <h1>Quiz app</h1>
      <form (ngSubmit)="registration()">
        <p>
          <mat-form-field appearance="legacy" class="full-width">
            <mat-label>Név</mat-label>
            <input type="text" [(ngModel)]="name" name="name" matInput placeholder="Név" required>
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit" class="full-width">Kezdés</button>
      </form>
    </mat-card>
  </div>
</div>
